/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
  background:
    linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),
    url('../assets/images/blacksmith-1310850_1280.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: #222;
}

/* Títulos destacados */
.marco {
  border: 3px solid #838279;
  padding: 1rem;
  border-radius: 10px;
  background-color: #fffb00;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.marco2 {
  display: inline-block;
  border: 3px solid #90918b;
  padding: 1rem;
  border-radius: 10px;
  background-color: #fff700;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

/* Secciones */
section {
  padding: 4rem 1.5rem;
  max-width: 900px;
  margin: auto;
}

/* Mapa */
.mapa {
  max-width: 600px;
  margin: 2rem auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Footer */
footer {
  text-align: center;
  padding: 2rem 1rem;
  background-color: #222;
  color: #fff;
}

